<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>User info</title>
    <meta http-equiv="Content-Type" charset="UTF-8"/>
  </head>
  <body>
    <table>
      <tr>
        <td id="name_label">Name:</td><td><p id="name" th:text="${user.firstName}"/></td>
      </tr>
      <tr>
        <td id="surname_label">Surname:</td><td><p id="surname" th:text="${user.lastName}"/></td>
      </tr>
      <tr>
        <td id="email_label">Email:</td><td><p id="email" th:text="${user.email}"/></td>
      </tr>
      <tr>
        <td id="birth_label">Date of birth:</td><td><p id="birth" th:text="${#dates.format(user.dateOfBirth, 'dd-MM-yyyy')}"/></td>
      </tr>
      <tr>
        <td id="address_label">Address:</td><td><p id="address" th:text="${user.address}"/></td>
      </tr>
      <tr>
        <td id="nationality_label">Nationality:</td><td><p id="nationality" th:text="${user.nationality}"/></td>
      </tr>
      <tr>
        <td>
        	<form action="change_password">
          		<input type="submit" value="Change" />
          	</form>
        </td>
      </tr>
    </table>
    <a href="/">Logout</a>
  </body>
</html>
